{% load static %}
<footer style="background-color: {{ element_configs.footer.background_color }}; color: {{ element_configs.footer.text_color }}">

    <div class="container">
        <div class="row">

            <div class="col-md-3 mb-4">
                <img class="icone-cieds" src="{% static 'GPC/images/coletivo.png' %}" alt="Logo do programa Coletivo Aprendiz da Cieds" />
            </div>

            <div class="col-md-3 mb-4">
                <h5>Termos:</h5>
                <ul class="list-unstyled">
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Política de Privacidade</a></li>
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Preferência de cookies</a></li>
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Termos e Condições</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Sede Administrativa</h5>
                <ul class="list-unstyled">
                    <li>Av. Presidente Vargas, 435</li>
                    <li>2º andar, Centro</li>
                    <li>Rio de Janeiro, RJ - Brasil</li>
                    <li>CEP: 20071-003</li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Contato:</h5>
                <ul class="list-unstyled">
                    <li><a class="link-footer" href="https://www.coletivoaprendiz.org.br/contato">Fale Conosco</a></li>
                    <li>Redes Sociais:</li>
                    <li class="redes-sociais">
                        <a class="link-footer-redesocial" href="https://www.instagram.com/coletivoaprendiz/">
                            <img class="icone-rede-social" src="{% static 'GPC/images/instagram.png' %}" alt="Ícone do Instagram" />
                        </a>

                        <a class="link-footer-redesocial" href="https://www.facebook.com/coletivoaprendiz">
                            <img class="icone-rede-social" src="{% static 'GPC/images/facebook.png' %}" alt="Ícone do Facebook" />
                        </a>

                        <a class="link-footer-redesocial" href="https://www.youtube.com/@coletivoaprendiz">
                            <img class="icone-rede-social" src="{% static 'GPC/images/youtube.png' %}" alt="Ícone do YouTube" />
                        </a>

                        <a class="link-footer-redesocial" href="https://www.linkedin.com/company/coletivoaprendiz/?originalSubdomain=br">
                            <img class="icone-rede-social" src="{% static 'GPC/images/linkedin.png' %}" alt="Ícone do LinkedIn" />
                        </a>

                    </li>
                </ul>
            </div>

        </div>

        <hr>

        <div class="text-center">
            <p class="text-center">&copy; Copyright © 2024 | Todos os direitos reservados.</p>
        </div>
    </div>
</footer>