{% load static %}
<footer>

    <div class="container">
        <div class="row">

            <div class="col-md-3 mb-4">
                <img class="icone-cieds" src="{% static 'GPC/images/cieds.png' %}" alt="Logo do aplicativo Instagram" />
            </div>

            <div class="col-md-3 mb-4">
                <h5>Termos:</h5>
                <ul class="list-unstyled">
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Política de Privacidade</a></li>
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Preferência de cookies</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Links Rápidos:</h5>
                <ul class="list-unstyled">
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Mapa do Site</a></li>
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Site da Cieds</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Contato:</h5>
                <ul class="list-unstyled">
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Fale Conosco</a></li>
                    <li><a class="link-footer" href="{% url 'em_construcao' %}">Trabalhe Conosco</a></li>
                </ul>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-3 mb-4">
                <h5>Rio de Janeiro I</h5>
                <ul class="list-unstyled">
                    <li>Rua Conselheiro Saraiva, 28</li>
                    <li>8º andar, Centro</li>
                    <li>Rio de Janeiro, RJ - Brasil</li>
                    <li>CEP: 20091-030</li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Rio de Janeiro II</h5>
                <ul class="list-unstyled">
                    <li>Av. Presidente Vargas, 435</li>
                    <li>2º andar, Centro</li>
                    <li>Rio de Janeiro, RJ - Brasil</li>
                    <li>CEP: 20071-003</li>
                    <li>Tel. +55 (21) 3190-4191</li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>São Paulo</h5>
                <ul class="list-unstyled">
                    <li>Rua José Bonifácio, 250</li>
                    <li>6º andar, Centro</li>
                    <li>São Paulo, SP - Brasil</li>
                    <li>CEP: 01003-000</li>
                    <li>Tel. +55 (11) 3105-2229</li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5>Pacajus</h5>
                <ul class="list-unstyled">
                    <li>Av. José Lúcio de Menezes, 1107,</li>
                    <li>Croatá</li>
                    <li>Pacajus, CE - Brasil</li>
                    <li>CEP: 62870-000</li>
                    <li>Tel. +55 (85) 3348-0486</li>
                </ul>
            </div>


        </div>

        <hr>

        <div class="text-center">
            <p class="text-center">&copy; Copyright © 2024 | Todos os direitos reservados.</p>
        </div>
    </div>
</footer>