{% extends "GPC/pages/base.html" %}

{% block title %}
Projeto de Vida
{% endblock %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'GPC/css/estiloaluno.css' %}">
{% endblock %}

{% block content %}

<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1 class="h1-area-do-estudante"><b>Projeto de vida</b></h1>
        <h4>Aqui no projeto de vida te ajudamos a criar um plano para o seu futuro! Você irá definir as metas você deseja alcançar na sua carreira, e definir os passos para chegar lá.</h4>
      </div>
      <div class="col-5">
        <img class="foto-banner" src="{% static 'GPC/images/banner.png' %}" alt="Banner alunos">
      </div>
    </div>

    <div class="button-container">
      <button class="botao-projetovida" onclick="location.href='{% url 'autoconhecimento-formulario' %}'">
        <i class="fa-sharp fa-solid fa-brain"></i>Autoconhecimento
      </button>
      <button class="botao-projetovida" onclick="location.href='{% url 'planejamento_carreira' %}'">
        <i class="fa-solid fa-briefcase"></i>Planejamento de Carreira
      </button>
      <button class="botao-projetovida" onclick="location.href='{% url 'projeto-vida' %}'">
        <i class="fa-solid fa-file"></i>Currículo
      </button>

    </div>
    <br>

    {% if user.planejamento_preenchido %}
    <div class="resultados-planejamento">
      <button class="botao-projetovida" onclick="location.href='{% url 'resultado_planejamento_carreira' user.pk %}'">
        <i class="fa-solid fa-chart-bar"></i>Ver Resultados do Planejamento
      </button>
    </div>
    {% endif %}


  </div>

  </div>

</section>

{% endblock %}